<section>
<div class="zoom">
<div class="profile profile-smallimg">
<div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"></div>
<div class="profile__info">
<h3 id="Titlecard">Doggo Dogg</h3>
<p class="Descriptioncard">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
</div>


<div class="breed">
<p class="typecard"><i class="fas fa-paw" style="font-size:28px; color:#693CB7;"></i>  Breed</p>
<h5 class="breed">Puppy</h5>
</div>

<div class="dailyprice">
<p class="typecard"><i class="fas fa-tags"style="font-size:28px; color:#693CB7;"></i> Daily price:</p>
<h5 class="price">30€ per day</h5>
</div>


<div class="profile__cta"><a class="button">Book Doggo!</a></div>
</div>
</div>
</section>
