<div class="footer">
  <div class="footer-links">
    <h6 style="font-size:3vw;">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </h6>
  </div>

  <div style="margin-bottom:50px;  transform: rotate(90deg);">
    <%= render partial: 'shared/puppyplay' %>
  </div>
  <div class="footer-copyright">
<h6>Puppies <i class="fas fa-heart"> </i>YOU</h6>
  </div>
</div>


