<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <img src="https://res.cloudinary.com/dnwnxu6xb/image/upload/v1582609993/Puppy_free_icon_zl39wd.png" />
</a>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if !current_user %>
        <li class="nav-item active">
          <a class="nav-link" href="users/sign_in">Sign in</a>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
<!--         <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard</a>
        </li> -->
      <% end %>
      <% if current_user %>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn1-www.dogtime.com/assets/uploads/gallery/boxer-puppies/boxer-puppy-1.jpg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <p class="dropdown-item"><%= link_to 'My puppies', user_puppies_path(current_user.id) %></p>
          <p class="dropdown-item"><%= link_to 'My bookings', user_bookings_path(current_user.id) %></p>
           <% if policy(Puppie).create? %><p class="dropdown-item"><%= link_to "Add a puppy",new_user_puppy_path(current_user.id) %></p><% end %>
          <p class="dropdown-item"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
