.imagenewpuppyhome{

    border-top-right-radius:10px;
    border-bottom-right-radius:10px;

  object-fit: cover;
  width: 400px;
  height:auto;
  box-shadow: 2px 2px 2px lightgray;
  padding-bottom: 100 px;
}

.imagenewpuppyhome2{

      border-top-left-radius:10px;
    border-bottom-left-radius:10px;

  object-fit: cover;
  width: 80%;
  height:auto;
  box-shadow: 2px 2px 2px lightgray;
  padding-bottom: 100 px;

}
