.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.avatarmap{
  width:50%;

}

#map {
  width: 430px;
  height: 100vh;
  margin-top: 50px;
  position: sticky;
  top: 0;
}

