.mapboxgl-popup {
  max-width: 200px;
}

#map {
  margin-left: 10px;
  box-shadow: 2px 3px 2px lightgray;
  height: 100vh;

  top: 0;
}



.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.avatarmap{
  width:50%;
}
