.card-product {
  border-radius:8px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom:15px;
}




.card-product img {
  height: 100%;
  width: 180px;
  padding:0px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: purple;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: purple;
}

.card-product .card-product-infos {
  padding: 16px;
}

.redlight-green {

  font-size : 20px;
}



.card-product-booking {
  overflow: hidden;
  height: 330px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:15px;
}

.card-product-booking h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-product-booking img {
  height: 100%;
  width: 450px;
  padding:0px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  object-fit: cover;
}

#titlebooking{
  padding-top: 10px;
  font-size: 20px;
  background-color: gray;
  color: white;
}




