.navbar-lewagon {
  padding-top: 0px;
  justify-content: space-between;
  background: white;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;

  box-shadow:3px 3px 2px lightgray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  margin-right: 20px;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}

.dropdown-item a {
  text-decoration: none;
  color:rgb(107, 61, 183);
  font-family: 'Poppins';

}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
