
#showpuppy {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  max-width: 500px;
  height:auto;
  box-shadow: 2px 2px 2px lightgray;
  padding-bottom: 100 px;

}

#descriptionpuppy {
  font-weight: bold;
  padding: 20px;
  padding-right:30px;
  padding-left:30px;
  color: #3AABD2;
  font-family: Calligraffitti;
}

#descriptionpuppy p{
  font-weight: 40px;
  font-family: Calligraffitti;
}

h2 {
  font-size: 24px;
  color: #e50207;
  font-family: Calligraffitti;
}

.container-show {
  display:flex;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  padding-bottom:20px;
  background-color: white;
  justify-content: space-between;
}

#name {
  text-align: center;
}

#map-show-page {
  margin-left: 10px;
  box-shadow: 2px 3px 2px lightgray;
  height: 100vh;
    position: sticky;
  top: 0;
}

#button-show {
  background-color: #e50207;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
  font-weight: bold;
}


.card-trip-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top:20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left:20px;
      border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;

  }

.review-card {
  box-shadow: none;
  margin-top: 20px;
}

.fa-heart {
  font-size: 24px;
  margin-top: 10px;
}

.review-content {
  display: inline;
  margin-left: 50px;
  font-size: 200%;
}

.review-user {
  margin-left: 480px;
}

.review-form {
  background-color: white;
  padding: 50px;
  margin-top: 20px;
  border: 1px solid #4E5057;
}

.create-review {
  text-align: center;
  font-size: 30px;
  color: #e50207;
}

.simple_form {
  margin-bottom: 10px;
}
.container-reviews {
  background-color: white;
}

#reviews {
  display:flex;
  background-color: #F4F4F4;
  justify-content: space-between;
}
