<div class="card-product review-card" style="box-shadow: 2px 2px 3px 2px lightgray; margin-right:20px;margin-left:20px; border-radius: 5px;">
  <div class="card-product-infos">
      <h2 style="color:purple; font-family:'Poppins';font-weight:bold;">Rating:</h2>
      <% review.rating.times do %>
            <i class="fas fa-heart fa-sm"></i>
      <% end %>
      <p class='review-content' style='font-size: 15px'>"<%= review.content %>"</p>
      <p class='review-user'>- <%= Faker::Name.first_name %></p>
  </div>
</div>
